@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Список таблиц:</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetClients">Клиенты</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetEmployees">Работники</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetGenres">Жанры</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetDiscs">Диски</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetRentalRecords">Записи проката</a>
</div>
